.text-secondary-empty-circle {
  color: #cbcbcb;
  &:hover {
    font-weight: 900;
    font-size: 1.2rem !important;
    color: #7c7c7c;
    border-radius: 50%;
    border: 2px solid #cbcbcb;
    margin-bottom: 0.7vh;
    margin-left: 0.46vh;
  }
}

.list-group-item {
  z-index: 1;
  &:hover {
    z-index: 2;
    box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
  }
}
