$border-color_1: transparent;
$color_1: #c4c4c4;
$color_2: #323232;
$background-color_1: #fff;
$color_3: #b7b7b7;
$color_4: #3d82eb;
$color_5: #4e4e4e;
$background-color_2: transparent;
.btn-light {
  background: #fff;
  border-color: $border-color_1;
  color: $color_1;
  //font-size: 25px;
  border: none;
  z-index: 1;
  &:focus {
    background: #fff;
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.15);
    border-radius: 5px 5px 0 0;
    border: none;
    color: $color_2;
  }
  &:hover {
    background: #fff;
    border-color: $border-color_1;
    color: $color_2;
    border: none;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 1px;
    right: 0;
    width: 99%;
    height: 10px;
    z-index: 4;
    background-color: $background-color_1;
  }
}

.dropdown-menu.show {
  min-width: fit-content;
  inset: -6px 0px auto auto !important;
  display: block;
  padding: 0;
  background: #fff;
  box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.15);
  border-radius: 5px 0 5px 5px;
  border: none;
  z-index: 3;
}
.dropdown-item {
  color: $color_3;
  font-size: 16px;
  border-bottom: 1px solid #ededed;
  padding: 10px 20px;
  .active {
    color: $color_4;
  }
  &:focus {
    background-color: $background-color_2;
    color: $color_5;
  }
  &:hover {
    background-color: $background-color_2;
    color: $color_5;
  }
}
