<div class="modal-header">
  <h4 class="modal-title">Edit Task</h4>
  <button
    type="button"
    class="btn border-0 fill-close-btn"
    aria-label="Close"
    (click)="modal.dismiss('Cross click')"
  >
    <i class="fa-regular fa-circle-xmark fs-4 text-dark"></i>
  </button>
</div>
<div class="modal-body">
  <form (ngSubmit)="onSubmit(task)">
    <div class="form-group d-flex">
      <input
        type="text"
        class="form-control create-new-item-input"
        id="title"
        [(ngModel)]="task.title"
        name="title"
      />
      <button
        class="btn border-0 float-end px-0 py-0 pt-1"
        (click)="onSubmit(task)"
      >
        <i class="fa-solid fa-pen-to-square p-1"></i>
      </button>
    </div>
  </form>
</div>
